body {
    font-family: 'SF-Pro-Display-Semibold', serif;
}

.main-container {
    background-color: #0d0d0d;
    color: #fff;
    font-family: 'SF-Pro-Display-Semibold', serif;
}


.border {
    border: black solid 2px;
}



.btn-grad {
    background-image: linear-gradient(to right, #232526 0%, #414345 51%, #232526 100%)
}

.btn-grad {
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    font-weight: 700;
    border: 1px solid rgba(80, 80, 80, 0.829);
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.form-control::placeholder {
    color: white;
    font-size: 14px;
    font-weight: 700;
}

.form-control {
    color: white;
    font-size: 14px;
    font-weight: 700;
    border: none;
    background-color: #2929298e;
    transition: 0.3s;
}

.form-control:active {
    border: none;
    box-shadow: none;
    background-color: #1f1f1f8e;

}

.form-control:focus {
    border: none;
    box-shadow: none;
    background-color: #1f1f1f8e;
}

.form-control:hover {
    border: none;
    box-shadow: none;
    background-color: #1f1f1f8e;
}

@font-face {
    font-family: 'SF-Pro-Display-Semibold';
    src: url('../fonts/SanFranciscoProDisplay/SF-Pro-Display-Semibold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}